@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Oldenburg&family=Playpen+Sans&family=Protest+Riot&display=swap');

:root{
    --bg-color:#eaf4e8;
    --text-color:#2b3c2c;
    --button-color:#2b3c2c;
}
*
{
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-family: "Merriweather", serif;
    overflow: visible;

}
/* .section-1
{
    background-image: url('img/bg1.jpeg');
    width: 100%;
    background-size: cover;
    height :100vh;
    background-position: center;
    background-color: var(--bg-color);

} */
header
{
    background-color: var(--bg-color);
    
}
/* nav{
  z-index: 100;
    position: fixed;
    width: 100%;
    /* height: 50px; */
    /* line-height: 30px; */
    /* text-align: center; */
    /* vertical-align: middle; 
   
   
} */
nav {
	position: fixed;
	z-index: 100;
	left: 0;
	right: 0;
	top: 0;
	height: 100px;
	padding: 16px 32px;
	background-color: var(--bg-color);
    text-align: center;
    justify-content: center;
    align-items: center;
   
}
nav .logo {
	/* font-size: 1.25em; */
	line-height: 70px;
	color: #fff;
    float: left;
}
nav .nav-menu {
	position: absolute;
	right: 1.5em;
	top: 0;
	padding: 0;
	margin: 0;
	list-style: none;
}
nav .nav-item {
	display: inline-block;
}
nav .nav-item > a {
	display: inline-block;
	padding: 0 1.5em;
	line-height: 70px;
	color: var(--text-color);
	text-decoration: none;
    font-size: larger;
}
nav .dropdown {
	position: relative;
}
nav .dropdown a::after {
	content: '';
	display: inline-block;
	margin-left: .5em;
	vertical-align: middle;
	border-top: .3em solid var(--text-color);
	border-right: .3em solid transparent;
	border-left: .3em solid transparent;
}
nav .dropdown.show a::after {
	transform: rotate(180deg);
}
nav .dropdown-menu {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	padding: .5em 0;
	margin-top: -.5em;
	border: 1px solid rgba(0,0,0,.3);
	border-radius: .5em;
	background-color: var(--bg-color);
}
nav .dropdown.show .dropdown-menu {
	display: block;
}
nav .dropdown-item {
	display: block;
	padding: 0 1.5em;
	font-size: .875em;
	color: #000;
	line-height: 3;
	text-decoration: none;
}
nav .btnnavbar {
	display: none;
	position: absolute;
	right: 1.5em;
	top: 50%;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	outline: none;
	transform: translateY(-50%);
}
nav .btnnavbar span {
	display: block;
	width: 30px;
	height: 4px;
	background-color: var(--button-color);
	margin: 6px;
	border-radius: 2px;
	transition: .3s ease-in-out;
}
nav .btnnavbar span:nth-child(4),
nav .btnnavbar span:nth-child(5) {
	position: absolute;
	top: 10px;
	opacity: .5;
}
nav .btnnavbar span:nth-child(4) {
	transform: rotate(45deg) scale(0);
}
nav .btnnavbar span:nth-child(5) {
	transform: rotate(-45deg) scale(0);
}
nav.opened .btnnavbar span:nth-child(4) {
	opacity: 1;
	transform: rotate(45deg) scale(1);
}
nav.opened .btnnavbar span:nth-child(5) {
	opacity: 1;
	transform: rotate(-45deg) scale(1);
}
nav.opened .btnnavbar span:nth-child(1),
nav.opened .btnnavbar span:nth-child(2),
nav.opened .btnnavbar span:nth-child(3) {
	opacity: 0;
}
@media screen and (max-width: 768px) {
	nav .nav-menu {
		position: fixed;
		left: 0;
		right: 0;
		top: 70px;
		bottom: 100%;
		display: flex;
		flex-direction: column;
        color: var(--text-color);
		justify-content: start;
		background-color: var(--bg-color);
		transition: bottom .5s ease-in-out;
		overflow: hidden;
	}
	nav.opened .nav-menu {
		bottom: 0;
	}
	nav .nav-item > a {
		display: block;
	}
	nav .dropdown-menu {
		position: relative;
		top: 0;
		margin: 0 1.5em;
	}
	nav .btnnavbar {
		display: block;
	}
}
/* nav ul{
   float: right;
    margin: 0;
    font-size: 18px;
    color: var(--text-color);
    text-transform: uppercase;
    padding-right: 40px;

} */
.active{
    border-color: var(--button-color);
    font-weight: 600;

}
nav a:hover
{
    border-color: var(--button-color);
    

}
nav ul li 
{
    /* margin-top: 30px; */
    display: inline-block;
    padding: 16px 32px;
    text-align: center;
    border: 2px solid transparent;
    text-transform: uppercase;
   
}
    

nav ul li a
{
   
    text-decoration: none;
    color: var(--text-color);
    border-bottom: 1px solid transparent;
    transition: transform 1s ease-in-out;
    
}
nav button{
    background-color: var(--button-color);
    color: var(--bg-color);
    padding:8px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    text-transform: uppercase;

}

.logo
{   
    margin:10px;
    height: 100px;
    float:left;

}
header h1{
    font-size: 76px;
    color: var(--text-color);
    letter-spacing: 2px;
    /* font-weight: bold; */
    padding-top:250px;
    text-align: left;
    margin-left: 170px;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;

}
header p
{
    font-size: 26px;
    float:right;
    text-align: justify;
    margin-right: 200px;
    font-family: "Merriweather", serif;
    font-weight: 200;
    line-height: 1.5em;
    background-color: var(--bg-color);
}

.bgpic
{
    margin-left: 5%;
   
    width:90%;
    padding-top: 30px;
    
}

/* Our Service   */

.serviceList
{
    margin: 5em; 
    /* background-color: #fff; */
    font-weight: 500;
    /* background-color: var(--bg-color); */
}
.serviceList ul
{

        list-style: none;
        padding: 10px;
        /* margin: ; */
}
.serviceList ul li
{
        padding: 1em;
        border-bottom: 1px solid #ddd;
        font-size:42px;
        transition: background-color 0.3s;
        color: var(--text-color);
}
.serviceList ul li:hover
{
        background-color: #f2f2f2;
}

/* IMAGE GALLERY */

.image-container {
    width: 95%;
    margin: 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.image {
    width: 30%;
    height:300px;
    margin-bottom: 2%;
    padding:20px;
    transition: transform 0.3s ease-in-out;
   align-content: center;
   
}

.image:hover {
    transform: scale(1.1);
}
#im
{
    height:500px;
    width:28%;
   justify-items: center;
}
#im1
{
    margin-top: 80px;
}
.gallery{
    width:100%;
}

/* WHY CHOOSE US  */

.why
{
    margin: 0px;
    background-color: #fff;
    font-size: large;
    color:var(--text-color);
    height: 30vh;
    text-align: justify;
    align-items: center;
    justify-content: space-between;
    padding: 40px;

.row1 {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 2em auto;
    background-color: #fff;
    padding: 1em;
    
}

.column1 {
    width: 48%; /* Adjust the width as needed */
    background-color: #fff;
   

}

 h1 {
    /* margin-left: 20px; */
    text-align: center;
    background-color: #fff;
    font-size: 52px;
}
 p{
    margin-right: 20px;
    text-align: center;
    background-color: #fff;
    font-size: 24px;
    /* margin-bottom: 10px; */
}


}


/* CONTACT FORM */
.contact-box
{
    background-color: #fff;
    display: flex;
    overflow: hidden;
    padding: 40px 40px;
}
.contact-box , h3, p 
{
    background-color: #fff;
    color: var(--text-color);
    margin-bottom: 30px;
    
}

.contact-left
{
    flex-basis: 40%;
    padding: 40px;
    background-color: #fff;
}
.contact-right
{
    flex-basis: 60%;
    padding: 40px 60px;
    background-color: #fff;
}
.contact-box, h1{
    margin-bottom: 10px;
    font-size: 34px;
}
.contact-box p{
    margin-bottom: 40px;
    font-size: 16px;
}
.input-row
{
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    margin-bottom: 20px;

}
.input-row, form{
    background-color: #fff;
    color: var(--text-color);
}
.input-row .input-group
{
    flex-basis: 45%;
}
input , select{
    background: #fff;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--button-color);
    height: 40px;
    outline: none;
}
.contact-right div{
    background-color: #fff;
    
}
.input-row label{
    background: #fff;
    font-size: 22px;
    margin-bottom: 6px;
    color: var(--text-color);
}
.formbtn
{
    margin-top: 20px;
    background-color: var(--button-color);
    width: 100%;
    border: none;
    outline: none;
    color: var(--bg-color);
    height: 80px;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 22px;
    padding :10px;
}
.contact-left
{
    margin-left: 150px;
    align-items: center;
    justify-content: center;
    
}
.contact-left h3{
    margin-bottom: 50px;
}
.contact-left p{
    margin-top:80px;
    justify-content:center;
    text-align: justify;
    line-height: 2em;
    font-size: large;
}
.concontainer
{
    width:100%;
    background-color: #fff;
    /* padding:30px; */
}
/* FOOTER */
footer {
    /* bottom: 10%; */
    
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 3rem;
    text-align: justify;
    justify-content: space-around;
    cursor: pointer;


.footer-columns {
    background-color: var(--text-color);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 100%;
    /* margin: 0 auto; */
    color: var(--bg-color);
}

.footer-column {
    flex: 40% 20% 20% 20%; /* Adjust the width as needed */
    margin-bottom: 1em;
    background-color: var(--text-color);
    color: var(--bg-color);

}
.footer-columns h1 ,p ,h3, a
{
    background-color: var(--text-color);
    color: var(--bg-color);
    text-decoration: none;
}
.footer-columns h3
{
    font-size: 24px;
}

.footer-columns p ,a {
    font-size: 20px;
    
}
.fa-brands
{
  background: black;
  border-radius: 50%;

}
}
/* COPYRIGHTS */
.cpy
{
    margin-top: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background-color: var(--text-color);
    color: var(--bg-color);
    width:100%;
    margin-bottom: 0;
    font-weight: 100;
}

.galcontainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .masonry-container {
    display: grid;
    flex-wrap: nowrap;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
  }

  .masonry-item {
    .masonry-item {
        width: calc(38% - 10px); /* Adjust the width as needed */
        margin-bottom: 10px; /* Adjust the margin as needed */
        overflow: hidden; /* Ensure images don't overflow their containers */
        border-radius: 5px;
      }
  }

  .masonry-item img {
    display: grid;
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  /* Service timeLine */
.t1 li
{
    background: #fff;
    text-decoration: none;
    text-align: center;
    align-items: center;
    /* justify-content: justify; */
    list-style: none;
    font-size: 18px;
    /* line-height: .5em; */

}
.swiper {
    /* overflow: visible; */
    width: 50%;
    height: 60%;
  }

  .swiper-slide {
    text-align: center;
    /* font-size: 18px; */
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    overflow: hidden;
    background: transparent;
    display: inline-flex;
    width: 600px;
    height: 600px;
    object-fit:scale-down;
  }
  .recog
  {

    text-align: center;
    font-size: 36;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .autoplay-progress {
    position: relative;
    /* right: 16px;
    bottom: 16px; */
    /* z-index: 10; */
    /* width: 48px; */
    /* height: 48px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }

  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    /* width: 50%;
    height: 50%; */
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }

  .row3 {
    margin-top: 40px;
   
    display: flex;
    flex-wrap: wrap;
    background: #fff;
  }
  
  .column3 {
    padding:50px;
    flex: 1;
    padding: 10px;
    text-align: center;
    background: #fff;

  }
  .row3 p{
    background-color: #fff;
    font-size: 32px;
  }

  /* SERVICE LIST NEW */
 
  .hexa{
    overflow: hidden;
    border: 0px;
    float: left;
    text-align: center;
    height: 35px;
    width: 60px;
    font-size: 24px;
    background: #f0f0f0;
    color: #3c3c3c;
    position: relative;
    margin-top: 15px;
  }
  
  .hexa:before{
    content: ""; 
    position: absolute; 
    left: 0; 
    width: 0; 
    height: 0;
    border-bottom: 15px solid #f0f0f0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    top: -15px;
  }
  
  .hexa:after{
    content: ""; 
    position: absolute; 
    left: 0; 
    width: 0; 
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 15px solid #f0f0f0;
    bottom: -15px;
  }
  
  .timeline {
    position: relative;
    padding: 20px;
    width: 100%;
    margin-top: 20px;
    /* margin-bottom: 20px; */
    list-style-type: none;
  }
  
  .timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    background: rgb(213,213,213);
    background: -moz-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
    background: -webkit-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
    background: -o-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
    background: -ms-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
    background: linear-gradient(to bottom, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
    z-index: 5;
  }
  
  .timeline li {
    padding: .5em;
  }
  
  .timeline .hexa{
    width: 16px;
    height: 10px;
    position: absolute;
    background:var(--button-color);
    z-index: 5;
    left: 0;
    right: 0;
    margin-left:auto;
    margin-right:auto;
    top: -30px;
    margin-top: 0;
  }
  
  .timeline .hexa:before {
    border-bottom: 4px solid var(--button-color);
    border-left-width: 8px;
    border-right-width: 8px;
    top: -4px;
  }
  
  .timeline .hexa:after {
    border-left-width: 8px;
    border-right-width: 8px;
    border-top: 4px solid var(--button-color);
    bottom: -4px;
  }
  
  .direction-l,
  .direction-r {
    float: none;
    width: 100%;
    text-align: center;
  }
  
  .flag-wrapper {
    text-align: center;
    position: relative;
  }
  
  .flag {
    position: relative;
    display: inline;
    background: rgb(255,255,255);
    font-weight: 300;
    z-index: 15;
    padding: 2px;
    text-align: left;
    border-radius: 5px;
  }
  
  .direction-l .flag:after,
  .direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -15px;
    height: 0;
    width: 0;
    margin-left: -8px;
    /* border: solid transparent;
    border-bottom-color: rgb(255,255,255);
    border-width: 1px; */
    pointer-events: none;
  }
  
  /* .direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  }
  
  .direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  } */
  
  .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
    line-height: 1em;
    /* vertical-align: middle; */
    color: #fff;
  }
  
  .direction-l .time-wrapper {
    float: none;
  }
  
  .direction-r .time-wrapper {
    float: none;
  }
  
  .time {
    background: var(--button-color);
    display: inline-block;
    padding: 10px;
  }
  
  .desc {
    /* position: relative; */
    /* margin: 1em 0 0 0;
    padding: .5em; */
    background: rgb(254,254,254);
    /* -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
    box-shadow: 0 0 1px rgba(0,0,0,0.20); */
    z-index: 15;
  }
  
  .direction-l .desc,
  .direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    /* padding: 1em; */
    z-index: 15;
  }
  
  @media(min-width: 768px){
    .timeline {
      width: 660px;
      margin: 0 auto;
      margin-top: 20px;
    }
  
    .timeline li:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
    
    .timeline .hexa {
      left: -28px;
      right: auto;
      top: 8px;
    }
  
    .timeline .direction-l .hexa {
      left: auto;
      right: -28px;
    }
  
    .direction-l {
      position: relative;
      width: 800px;
      float: left;
      text-align: right;
    }
  
    .direction-r {
      position: relative;
      width: 800px;
      float: right;
      text-align: left;
    }
  
    .flag-wrapper {
      display: inline-block;
    }
    
    .flag {
      font-size: 24px;
      font-weight: 600;
    }
  
    .direction-l .flag:after {
      left: auto;
      right: -16px;
      top: 50%;
      margin-top: -8px;
      border: solid transparent;
      border-left-color: rgb(254,254,254);
      border-width: 8px;
    }
  
    .direction-r .flag:after {
      top: 50%;
      margin-top: -8px;
      border: solid transparent;
      border-right-color: rgb(254,254,254);
      border-width: 8px;
      left: -8px;
    }
  
    .time-wrapper {
      display: inline;
      vertical-align: middle;
      margin: 0;
    }
  
    .direction-l .time-wrapper {
      float: left;
    }
  
    .direction-r .time-wrapper {
      float: right;
    }
  
    .time {
      padding: 5px 10px;
    }
  
    .direction-r .desc {
      margin: 1em 0 0 0.75em;
    }
  }
  
  @media(min-width: 992px){
    .timeline {
      width: 800px;
      margin: 0 auto;
      margin-top: 20px;
    }
  
    .direction-l {
      position: relative;
      width: 380px;
      float: left;
      text-align: right;
    }
  
    .direction-r {
      position: relative;
      width: 380px;
      float: right;
      text-align: left;
    }
  }

  
  .why1
  {

    margin: 0px;
    background-color: #fff;
    font-size: x-large;
    color:var(--text-color);
    height: 100vh;
    text-align: justify;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    line-height: 2em;
    font-family: "Merriweather" ;

  }
  .abtrow {
    background-color: #fff;
    display: flex;
}
.abtcolumn {
    /* flex: 1; */
    background-color: #fff;
    padding: 10px;
}
.abtcolumn p {
    margin: 0; /* Remove default margin of <p> tag */
    font-size: 20px;
}
.abtcolumn img {
    max-width: 400px;
    height: 500px;
}

/* RESPONSIVE */

@media only screen and (max-width: 920px) {
    .ourService {
        width: 100%;
        border-radius: 0;
    }
    column {
    flex: 100%;
    margin-bottom: 10px;
  }
    .image {
        width: 50%;
    }
    .heading1
    {
        margin:10px;
        font-size: 42px;

    }
    .heading2
    {
        margin:10px;
        font-size:20px;
    }
    .column1 {
        flex: 100%; 
    }
    .footer-column {
         flex:100%; 
    }
    footer
    {
        bottom: unset;
    }
    
    
    .grid-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        gap: 8px;
      }
      .contact-left
      {
        width: 100%;
      }
      .contact-right
      {
        width: 100%;
      }
}